doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Shop Homepage - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-light.bg-light#nav
            .container.px-4.px-lg-5
                a.navbar-brand(href='#!') Start Bootstrap
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-lg-4
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='#!') Home
                        li.nav-item
                            a.nav-link(href='#!') About
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Shop
                            ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                li
                                    a.dropdown-item(href='#!') All Products
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item(href='#!') Popular Items
                                li
                                    a.dropdown-item(href='#!') New Arrivals

                    button.btn.btn-outline-dark#btnLogin
                        i.bi-cart-fill.me-1
                        | Login

                    form.d-flex

                        button.btn.btn-outline-dark(type='submit')
                            i.bi-cart-fill.me-1
                            | 
                            span#basketCount.badge.bg-dark.text-white.ms-1.rounded-pill 0

        // Header
        header.bg-dark.py-5#header
            .container.px-4.px-lg-5.my-5
                .text-center.text-white
                    h1.display-4.fw-bolder Shop in style
                    p.lead.fw-normal.text-white-50.mb-0 With this shop hompeage template

        // Section
        section.py-5
            .container.px-4.px-lg-5.mt-5
                //Login section
                .row.row-cols-2.row-cols-md-3.justify-content-center#viewLogin
                    .col.mb-5
                        div.row.justify-content-center(style="--bs-gutter-x: 0rem;")
                            div.card
                                div.card-header Iniciar sesión
                                div.card-body
                                    form(action="", method="POST")
                                        div.form-group.row
                                            label(for="email_address").col-md-4.col-form-label.text-md-right Email
                                            div.col-md-8
                                                input(type="email", placeholder="Email", required="required autofocus").form-control#username
                                        br
                                        div.form-group.row
                                            label(for="password").col-md-4.col-form-label.text-md-right Contraseña
                                            div.col-md-8
                                               input(type="password", placeholder="Contraseña", required="required").form-control#password 
                                        br
                                        div.container.text-center
                                            button(type="submit").btn.btn-outline-dark Ingresar

                //Basket section
                div#viewBasket
                    ul.list-group
                        div.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center
                            div.d-flex.justify-content-start
                                div
                                    img.img-fluid(src='https://dummyimage.com/200x150/dee2e6/6c757d.jpg', alt='lay')
                                div.list-group-item-content
                                    h4.fw-bolder Here goes the product name
                                    p
                                        small Brief description
                                    span.badge.bg-dark.text-white.ms-1.badge-pill 3 in cart
                                    h3 $100
                            div
                                button.btn.btn-outline-dark.mt-auto Remove 
                
                br

                //Products section
                .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center#viewProduct
                    //ejemplo de card oculto
                    .col.mb-5.hide-div
                        .card.h-100
                            // Sale badge
                            .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') CATEGORY
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Sample Item
                                    // Product reviews
                                    .d-flex.justify-content-center.small.text-warning.mb-2
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                    // Product price
                                    span.text-muted.text-decoration-line-through $20.00
                                    | $18.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a#btnAdd.btn.btn-outline-dark.mt-auto(href='#') Add to cart

            //Checkout section                    
            .container#viewCheckout
                div.py-5.text-center
                    h2 Checkout form
                    p.lead Detalle de tu compra.
                .row 
                    div.col-md-4.order-md-2.mb-4
                        h4.d-flex.justify-content-between.align-items-center.mb-3
                            span.text-muted Your cart
                            span.badge.badge-secondary.badge-pill 3
                        ul.list-group.mb-3
                            li.list-group-item.d-flex.justify-content-between.lh-condensed
                                div
                                    h6.my-0 Product name
                                    small.text-muted Brief description
                                span.text-muted  $12
                            li.list-group-item.d-flex.justify-content-between.lh-condensed
                                div
                                    h6.my-0 Second product
                                    small.text-muted Brief description
                                span.text-muted  $8
                            li.list-group-item.d-flex.justify-content-between.lh-condensed
                                div
                                    h6.my-0 Third item
                                    small.text-muted Brief description
                                span.text-muted  $5

                            li.list-group-item.d-flex.justify-content-between
                                span Total (USD)
                                strong  $20

                    div.col-md-8.order-md-1
                        h4.mb-3 Billing address
                        form(novalidate).needs-validation
                            .row 
                                div.col-md-6.mb-3
                                    label(for="firstName") First name
                                    input(type="text" placeholder="first name" value="" required).form-control#firstName
                                    div.invalid-feedback Valid first name is required.
                                div.col-md-6.mb-3
                                    label(for="lastName") Last name
                                    input(type="text" placeholder="last name" value="" required).form-control#lastName
                                    div.invalid-feedback Valid last name is required.
                            .row
                                div.col-md-6.mb-3
                                    label(for="email") Email
                                    input(type="email" placeholder="email" value="email" required).form-control#email
                                    div.invalid-feedback Valid email is required.
                                div.col-md-6.mb-3
                                    label(for="phone") Phone number 
                                    input(type="text", placeholder="phone number", required).form-control#phone
                                    div.invalid-feedback Valid phone number  is required.

                            .row 
                                div.col-md-6.mb-3
                                    label(for="invoce") Invoice type
                                    select(required).form-select.d-block.w-100#invoce
                                        option(value="")  Choose...
                                        option(value="") A 
                                        option(value="") B
                                        option(value="") C 
                                        option(value="") D 
                                    div.invalid-feedback Please select a valid invoce type.
                                div.col-md-6.mb-3
                                    label(for="city") City
                                    select(required).form-select.d-block.w-100#city
                                        option(value="")  Choose...
                                        option(value="") Resistencia
                                    div.invalid-feedback Please select a valid city.

                            div.mb-3
                                label(for="address") Address
                                input(type="text" placeholder="1234 Main St" required).form-control#address
                                div.invalid-feedback Please enter your shipping address.
                        
                            div.mb-3
                                label(for="observation").form-label Observation
                                textarea(rows="3").form-control#observations
                        
                        hr.mb-4
                        div.text-center
                            button(type="submit").btn.btn-outline-dark.btn-lg.btn-block Checkout            
                    
        // Footer
        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Copyright &copy; Your Website 2021

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')